<table class="table table-hover">
  <thead>
    <th>Student</th>
    <th>Department</th>
    <th>Mobile</th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let student of list">
      <td (click) = "onEdit(student)">{{student.studentId}} - {{student.fullName}}</td>
      <td (click) = "onEdit(student)">{{student.dept}}</td>
      <td (click) = "onEdit(student)">{{student.mobile}}</td>
      <td><a class="btn text-danger" (click) = "onDelete(student.id)"><i class="fa fa-trash"></i></a></td>
    </tr>
  </tbody>
</table>